:root {
  --color-background: #371b58;
  --color-primary: #4c3575;
  --color-secondary: #5b4b8a;
  --color-accent: #7858a6;

  --color-text-default: #ffffff;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--color-background);
  color: var(--color-text-default);
}

.app {
  margin: 20px;
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
}
